<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/auth/complete-payment.css" />
</head>
<body>

<%- include("../includes/navigation.ejs"); %>

<section class="container">
  <h3>You're request has been made successfully</h3>
  <p>Please check your email to complete the process!</p>
  <p>If you didn't find it, search in spam emails.</p>
</section>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
