<%- include("../includes/top_part.ejs"); %>
<style>
    .success-page {
        min-height: 100%;
    }
</style>
</head>
<body>

<section class="success-page">
  <div class="container">
    <h2>Your payment is transacted successfully! 🎉</h2>
    <p>We will contact you as soon as possible</p>
    <p>For any issues just call <a href="tel:00966548794731">00966548794731</a></p>
  </div>
</section>

<script>
  setTimeout(() => {
    window.location = '/'
  }, 1000 * 10);
</script>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
