<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/auth/login.css" />
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<section class="register-form">
    <div class="content-container">
        <h2>Register</h2>
        <div class="header-dash-line"></div>
        <form action="/register" method="POST">
            <div class="my-form-control">
                <input type="text" name="name" id="name" placeholder="Enter your name" />
            </div>
            <div class="my-form-control">
                <input type="email" name="email" id="email" placeholder="Enter your email" />
            </div>
            <div class="my-form-control">
                <input type="tel" name="whatsapp_number" id="whatsapp_number" placeholder="Your whatsapp number" />
            </div>
            <div class="my-form-control">
                <input type="text" name="name" id="name" placeholder="Enter your name" />
            </div>
            <div class="login-options">
                <a href="/login" class="reset-link">Have an account? Login</a>
            </div>
            <button class="btn">
                Register
            </button>
        </form>
    </div>
</section>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
