@use "./utils/variables" as vars;
@use "./utils/common" as common;
@use "./utils/mediaFns" as mediaQ;

%commonButtons {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  gap: 20px;

  button {
    width: 200px;
    height: 55px;

    &:nth-of-type(1) {
      background-color: vars.$main_color;
      color: #fff;

      &:hover {
        background-color: transparent;
        color: vars.$main_color;
        border: 1px solid vars.$main_color;
      }
    }

    &:nth-of-type(2) {
      background-color: transparent;
      color: vars.$main_color;
      border: 1px solid vars.$main_color;

      &:hover {
        background-color: vars.$main_color;
        color: #fff;
      }
    }
  }
}

.main-header {
  text-align: center;

  p {
    margin-block: 80px 40px;
  }

  h2 {
    font-family: vars.$sans_font;
    font-weight: bold;
    margin-block-end: 45px;
    font-size: vars.$xl_header_size;
    font-variant: small-caps;
  }

  video {
    margin-block: 0 30px;
    border-radius: 5px;
    object-fit: cover;
    width: 700px;
    height: 400px;
    max-width: 100%;
  }

  .button-container {
    @extend %commonButtons;
  }

  .courses-scroll {
    margin-block: 40px 100px;
    color: vars.$main_color;
  }
}

.whatsapp_opinions {
  .swiper {
    height: 350px;
    padding-block-end: 20px;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      object-fit: cover;
      max-width: 100%;
    }

    .swiper-pagination {
      bottom: -3px;
    }
  }
}

.our-courses {
  .courses-container {
    margin-block: 50px;
  }

  .course-thumbnail {
    img {
      @include common.similarHW(280px);
      display: block;
      margin: auto;
    }
  }

  .course-text {
    .course-title-ar {
      direction: rtl;
      font-family: vars.$arabic_font;
    }

    p {
      font-size: vars.$md_font_size;
      line-height: 42px;
    }

    .button-container {
      @extend %commonButtons;
      justify-content: flex-start;
    }
  }
}

.testimonials {
  .swiper-slide {
    display: flex;
  }

  .client-container {
    max-width: 536px;
    margin: auto;

    .client-data {
      display: flex;
      gap: 20px;
      align-items: center;
      font-size: vars.$md_font_size;
      margin-block-end: 14px;

      svg {
        @include common.similarHW(48px);
      }

      .client-date {
        opacity: 0.5;
      }
    }

    p.client-opinion {
      line-height: 40px;
    }
  }
}

.join-us {
  background-image: url("/imgs/imgs/drs.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color;
  margin-block-end: 30px;
  //background-color: rgba(227, 84, 161, 0.5);

  .overlay {
    min-height: 400px;
    background-color: rgba(vars.$main_color, 0.7);
    @include common.similarHW(100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div {
      line-height: 40px;

      h2 {
        font-size: 2.35rem;
        font-weight: bolder;
      }

      p,
      a {
        font-size: vars.$lg_font_size;
      }
    }

    a {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease-in-out;

      &:hover {
        color: #fff;
        border-color: #fff;
      }
    }
  }
}

.floating-whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  background-color: #fff;
  @include common.similarHW(70px);
  border: 1px solid vars.$main_color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

@include mediaQ.allSmScreens {
  video {
    object-fit: contain !important;
  }

  .join-us {
    h2 {
      font-size: vars.$sm_header_size !important;
    }

    a,
    p {
      font-size: vars.$sm_font_size !important;
    }
  }

  .floating-whatsapp {
    @include common.similarHW(50px);

    svg {
      @include common.similarHW(30px);
    }
  }
}
