@use "./utils/variables" as vars;

$theme-colors: (
  "primary": vars.$main_color,
);

body,
* {
  font-family: vars.$main_font;
}

textarea {
  resize: none;
}

.custom-head {
  font-size: vars.$lg_header_size;

  span {
    display: block;
    width: 170px;
    background-color: vars.$main_color;
    height: 2px;
    border-radius: 4px;
    margin-block: 10px 30px;
  }
}

.reset-form-control {
  border: 0;
  padding: 0;

  input {
    width: 100%;
  }
}

.reset-btn {
  background: none;
  border: 0;
}

.btn {
  width: 200px;
  height: 55px;
  background-color: vars.$main_color;
  border: 1px solid transparent;
  color: #fff;
  transition: all 0.25s ease-in-out;
  border-radius: 5px;

  &:hover {
    background-color: transparent;
    color: vars.$main_color;
    border: 1px solid vars.$main_color;
  }

  &.btn-success {
    background-color: vars.$success_color;

    &:hover {
      background-color: transparent;
      color: vars.$success_color;
      border: 1px solid vars.$success_color;
    }
  }

  &.btn-danger {
    background-color: vars.$danger_color;

    &:hover {
      background-color: transparent;
      color: vars.$danger_color;
      border: 1px solid vars.$danger_color;
    }
  }
}

a.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-outlined {
  width: 200px;
  height: 55px;
  background-color: transparent;
  color: vars.$main_color;
  border: 1px solid vars.$main_color;
  transition: all 0.25s ease-in-out;
  border-radius: 5px;

  &:hover {
    background-color: vars.$main_color;
    color: #fff;
  }
}

.swiper {
  height: 300px;
}

.reset-link {
  color: inherit;
  text-decoration: none;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: vars.$main_color;
  }
}

.error-container {
  width: 300px;
  padding: 30px;
  background-color: red;
  border: 1px solid red;
  color: white;
}

footer {
  border-top: 1px solid #000;
  padding-block: 30px;
  margin-block-start: 30px;
}
