/* Error: The target selector was not found.
 * Use "@extend %bottomFooter !optional" to avoid this error.
 *   ,
 * 5 |   @extend %bottomFooter;
 *   |   ^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   public/scss/auth/complete-payment.scss 5:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend %bottomFooter !optional" to avoid this error.\a   \2577 \a 5 \2502    @extend %bottomFooter;\a   \2502    ^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   public/scss/auth/complete-payment.scss 5:3  root stylesheet';
}
