.login-form,
.register-form,
.opinions-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-block: 100px 110px;
  min-height: calc(100vh - 131px - 161px - 110px);
}
.login-form .container,
.register-form .container,
.opinions-form .container {
  display: flex;
  justify-content: center;
}
.login-form .login-options .register-link,
.register-form .login-options .register-link,
.opinions-form .login-options .register-link {
  text-decoration: underline;
}
.login-form .content-container,
.register-form .content-container,
.opinions-form .content-container {
  border: 1px solid #545ee3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 100px 80px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 50vw;
}
.login-form .content-container .header-dash-line,
.register-form .content-container .header-dash-line,
.opinions-form .content-container .header-dash-line {
  margin-block: 15px 55px;
  width: 50px;
  height: 2px;
  background-color: #545ee3;
  margin-inline: auto;
}
.login-form .content-container form,
.register-form .content-container form,
.opinions-form .content-container form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: auto;
}
.login-form .content-container form .login-options,
.register-form .content-container form .login-options,
.opinions-form .content-container form .login-options {
  display: flex;
  justify-content: space-between;
}
.login-form .content-container form input,
.login-form .content-container form textarea,
.login-form .content-container form select,
.register-form .content-container form input,
.register-form .content-container form textarea,
.register-form .content-container form select,
.opinions-form .content-container form input,
.opinions-form .content-container form textarea,
.opinions-form .content-container form select {
  border-radius: 4px;
  border: 1px solid #545ee3;
}
.login-form .content-container form input::placeholder,
.login-form .content-container form textarea::placeholder,
.login-form .content-container form select::placeholder,
.register-form .content-container form input::placeholder,
.register-form .content-container form textarea::placeholder,
.register-form .content-container form select::placeholder,
.opinions-form .content-container form input::placeholder,
.opinions-form .content-container form textarea::placeholder,
.opinions-form .content-container form select::placeholder {
  font-family: "Poppins", sans-serif !important;
}
.login-form .content-container form textarea,
.register-form .content-container form textarea,
.opinions-form .content-container form textarea {
  height: 200px;
}
.login-form .content-container form select,
.register-form .content-container form select,
.opinions-form .content-container form select {
  line-height: 42px;
  height: 50px;
}
.login-form .content-container form .cart-courses span,
.register-form .content-container form .cart-courses span,
.opinions-form .content-container form .cart-courses span {
  color: #fff;
  background-color: #545ee3;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
}
.login-form .content-container form button,
.register-form .content-container form button,
.opinions-form .content-container form button {
  width: fit-content !important;
  margin-block-start: 30px;
  align-self: center;
}

.register-form .content-container form input {
  width: 465px;
}

.opinions-form form button {
  font-size: 20px;
}

@media (max-width: 575px) {
  .login-form .content-container,
.register-form .content-container,
.opinions-form .content-container {
    width: 90vw !important;
    padding: 30px;
  }
  .login-form .content-container h2,
.register-form .content-container h2,
.opinions-form .content-container h2 {
    text-align: center;
  }
  .login-form .content-container form,
.register-form .content-container form,
.opinions-form .content-container form {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .login-form .content-container,
.register-form .content-container,
.opinions-form .content-container {
    width: 90vw !important;
    padding: 30px;
  }
  .login-form .content-container h2,
.register-form .content-container h2,
.opinions-form .content-container h2 {
    text-align: center;
  }
  .login-form .content-container form,
.register-form .content-container form,
.opinions-form .content-container form {
    width: 100%;
  }
}

/*# sourceMappingURL=login.css.map */
