@use "../utils/variables" as vars;
@use "../utils/mediaFns" as mediaQ;

.courses {
  #editor,
  .ck-editor {
    border-radius: 4px !important;
  }

  .pagination {
  }

  .content {
    padding-bottom: 120px;

    .content-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .courses-data {
      border: 2px solid #000;
      border-radius: 4px;

      .table-head {
        display: grid;
        font-size: vars.$md_font_size;
        border-bottom: 2px solid #000;
        grid-template-columns: repeat(6, 1fr);
        padding: 11px 24px;
        justify-items: center;
      }

      .table-row {
        padding: 11px 24px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        font-size: vars.$sm_font_size;
        justify-items: center;
        align-items: center;

        .course-description {
          width: 180px;
          height: 100px;
          overflow: scroll;
        }

        .course-update,
        .course-delete {
          button {
            width: fit-content;
            //height: max-content;
            /*width: 100px;
            height: 25px;*/
          }
        }
      }
    }
  }
}

@include mediaQ.allSmScreens() {
  .content {
    padding-inline: 0 !important;
    padding-block: 120px;
  }
}
