@use "../utils/variables" as vars;

.modal-footer {
  justify-content: space-between;
}

.question {
  position: relative;
  border: 1px solid vars.$main_color;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow 0.25s ease-in-out;

  &:hover {
    box-shadow: 0 0 10px rgba(vars.$main_color, 0.5);
  }

  &.invalid {
    border-color: var(--bs-danger);

    &:hover {
      box-shadow: 0 0 10px rgba(var(--bs-danger), 0.5);
    }
  }

  .question-number {
    display: flex;
    width: max(55px);
    border-radius: 50%;
    font-size: 18px;
  }

  .delete-exam {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 9999;
  }

  .edit-exam {
    position: absolute;
    top: 10px;
    right: 55px;
    cursor: pointer;

    &:hover {
      path {
        color: var(--bs-success);
      }
    }
  }
}
