@use "../utils/variables" as vars;

.messages {
  .content {
    padding-inline-start: 80px !important;

    .table-head {
      font-size: vars.$lg_font_size - 2 !important;
      grid-template-columns: repeat(4, 1fr) !important;
    }

    .table-row {
      grid-template-columns: repeat(4, 1fr) !important;

      .message-content {
        overflow: auto;
        width: 200px;
        height: 50px;
      }
    }
  }
}
