@use "../utils/variables" as vars;
@use "../utils/common" as common;
@use "../utils/mediaFns" as mediaQ;

.dashboard-nav {
  padding: 50px;
  height: 100vh;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  position: sticky;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;

  .navbar-toggler {
    border: 1px solid vars.$main_color;
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar-toggler-icon {
      width: 100%;
      height: 100%;
    }

    svg {
      display: block;
      fill: vars.$main_color;
    }
  }

  .navbar-links-container {
    .navbar-brand {
      font-size: vars.$lg_header_size !important;
      display: block;
      margin-block-end: 10px !important;

      &.active {
        color: vars.$main_color !important;
      }
    }

    .nav-links {
      margin-block-start: 30px;

      ul {
        li {
          margin-block: 30px;

          a {
            font-size: vars.$lg_font_size !important;

            &.active {
              color: vars.$main_color !important;
            }
          }
        }
      }
    }

    .logged-in-user {
      display: flex;
      align-items: center;
      gap: 20px;

      .user-img {
        img {
          @include common.similarHW(90px);
        }
      }

      .user-info {
        display: flex;
        flex-direction: column;

        .user-name {
          font-size: vars.$xl_font_size;
        }

        .user-type {
          opacity: 0.5;
        }
      }
    }
  }

  .navbar-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      @include common.similarHW(40px);
    }
  }
}

.remove-nav {
  transform: translateX(-1000px);
}

.show-nav {
  position: fixed;
  top: 30px;
  left: -1px;
  display: flex;
  align-items: center;
  border: 1px solid vars.$main_color;
  padding-inline-start: 20px;
  border-radius: 0 4px 4px 0;
  font-size: vars.$lg_font_size;
  color: vars.$main_color;

  .navbar-toggler {
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar-toggler-icon {
      width: 100%;
      height: 100%;
    }

    svg {
      display: block;
      fill: vars.$main_color;
    }
  }

  &.remove-show-button {
    transform: translateX(-1000px);
  }
}

@include mediaQ.allSmScreens {
  .dashboard-nav {
    width: 80vw;
    z-index: 10;
    padding: 20px;
    box-shadow: 4px 4px 28px 90px rgb(84 94 227 / 50%);
    position: fixed;

    .navbar-links-container {
      .navbar-brand {
        display: flex;
        gap: 20px;
        align-items: center;
        font-size: 20px !important;
        justify-content: space-between;
        width: 100%;
      }

      .logged-in-user {
        .user-img {
          img {
            @include common.similarHW(75px);
          }
        }

        .user-info {
          .user-type {
            font-size: vars.$sm_font_size - 3 !important;
          }

          .user-name {
            font-size: vars.$sm_font_size !important;
          }
        }
      }

      .nav-links {
        ul li a {
          font-size: vars.$sm_font_size !important;
        }
      }
    }
  }
}
