@use "../utils/mediaFns" as mediaQ;

.overview {
  .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;

    .content-header {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      justify-content: space-around;
    }
  }
}

@include mediaQ.allSmScreens {
  .overview {
    margin-block-start: 50px;
  }
}
