.users-select-button {
  gap: 10px;
  //width: 100%;
  //overflow: scroll;

  .btn-check:checked + .btn-outline-primary {
    color: #fff !important;
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
