@use "../utils/variables" as vars;
@use "../utils/common" as common;
@use "../utils/mediaFns" as mediaQ;

input[type="checkbox"] ~ label {
  cursor: pointer;
}

.users-selection-container {
  .users-select-button {
    overflow-y: scroll;
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    .btn-check:checked + .btn-outline-primary {
      color: #fff !important;
    }

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-align: center;
      padding: 20px;
      min-height: 65px;
      font-size: 14px;
      width: 100%;
      word-break: break-word;
    }
  }
}

@include mediaQ.allSmScreens {
  .users-selection-container {
    .users-select-button {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }
}
