<footer class="text-center">
    <p>This website is Owned by <a href="/aboutme" class="reset-link">Dr. Wesam Nageib<sup>&trade;</sup></a>. All Rights reserved <sup>&copy;</sup>. Created by <a
                href="mailto:seiftahawy54@gmail.com" class="reset-link">Seif Hesham</a>  <%- new Date().getFullYear() %></p>
</footer>