<nav aria-label="navigation" class="my-3">
  <ul class="pagination justify-content-center">
    <% if (numberOfLinks) { %>
      <% for (let i = 0; i < numberOfLinks; i++) { %>
        <li class="page-item">
          <a class="page-link" href="<%= path %>/?page=<%= i + 1 %>">
            <%= i + 1 %>
          </a>
        </li>
      <% } %>
    <% } %>
  </ul>
</nav>
