<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="description"
        content="Hello I'm Dr. Wesam Negeib, I'm a certified CPHQ Trainer and this is my only official website. A certified cphq trainer. drwesamnageib."/>
  <meta property="og:title" content="Welcome in Dr.Wesam Nageib's official website for CPHQ Courses"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description"
        content="Hello I'm Dr. Wesam Negeib, I'm a certified CPHQ Trainer and this is my only official website."/>
  <meta property="og:image" content="https://www.drwesamnageib.com/imgs/imgs/website_preview.jpeg"/>
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="630"/>
  <title><%= title; %></title>
  <link rel="icon" href="/imgs/imgs/favicon/favicon.ico"/>
  <!--  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap" rel="stylesheet"/>-->
  <!--  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet"/>-->
  <!--  <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet"/>-->
  <!--  <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet"/>-->
  <link href="https://unpkg.com/swiper@7/swiper-bundle.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/main.css"/>
  <link rel="stylesheet" href="/css/nav.css"/>
  <script src="/js/bootstrap.min.js" async></script>
