<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/opinion/index.css">
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<section class="opinions">
  <div class="container">
    <h2 class="h1 text-center">What our clients say about us 😄</h2>
  </div>
</section>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
