<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/courses/courses.css" />
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<section class="single-course-section">
    <div class="container">
        
    </div>
</section>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
