$main_font: "Poppins", sans-serif !important;
$sans_font: "Fira Sans", sans-serif !important;
$arabic_font: "Cairo", sans-serif !important;
$dflex_column: column;

// Top margin in ui projects, case studies, and about, Paragraphs and text sizes
$sm_margin: 90px;
$lg_margin: 170px;

$sm_padding: 23px;
$lg_padding: 32px;

$xs_font_size: 14px;
$sm_font_size: 16px; // 16px
$md_font_size: 18px; // 18px
$lg_font_size: 20px; // 20px
$xl_font_size: 24px; // 24px

// Headers
$sm_header_size: 20px; // 20px
$md_header_size: 24px; // 24px
$lg_header_size: 28px; // 28px
$xl_header_size: 32px; // 32px
$xxl_header_size: 48px; // 48px
$huge_header_size: 64px; // 64px

//$main_color: #E354A1;
$main_color: #545ee3;
//$darker_primary_color: #321693;
//$facebook_color: #4267b2;
//$behance_color: #053eff;
//$dribbble_color: #ea4c89;
//$instagram_color: #8a3ab9;
//$linkedin_color: #2867b2;
//$whatsapp_color: #2cb742;
//$telegram_color: #039be5;
//$medium_color: #000;
$text_gray-color: #707070;
$bg_gray: #f8f8f8;
$light_background: #f6f6ff;
$light_dark_bg: #3a3a48;

$dark_mode_bg: #23232f;
$dark_mode_color: #fff;
$success_color: #0fb11b;
$danger_color: #da0000;
