<%- include("./includes/top_part.ejs"); %>
<style>
    .page-content {
        min-height: calc(100vh - 160px - 161px);
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
</style>
</head>
<body>
<%- include("./includes/navigation.ejs"); %>

<main class="page-content">
  <h1>There's an error from our side</h1>
  <p>Please contact us ASAP!</p>
</main>

<%- include("./includes/footer.ejs"); %>
<%- include("./includes/bottom_part.ejs"); %>
