/*

@mixin computeRgba($color, $opacityWanted) {
@return "rgba(" red($color) + ',' + green($creen) + ',' + blue() $opacity) ";
}
*/
.our-courses .course-text .button-container, .main-header .button-container {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  gap: 20px;
}
.our-courses .course-text .button-container button, .main-header .button-container button {
  width: 200px;
  height: 55px;
}
.our-courses .course-text .button-container button:nth-of-type(1), .main-header .button-container button:nth-of-type(1) {
  background-color: #545ee3;
  color: #fff;
}
.our-courses .course-text .button-container button:nth-of-type(1):hover, .main-header .button-container button:nth-of-type(1):hover {
  background-color: transparent;
  color: #545ee3;
  border: 1px solid #545ee3;
}
.our-courses .course-text .button-container button:nth-of-type(2), .main-header .button-container button:nth-of-type(2) {
  background-color: transparent;
  color: #545ee3;
  border: 1px solid #545ee3;
}
.our-courses .course-text .button-container button:nth-of-type(2):hover, .main-header .button-container button:nth-of-type(2):hover {
  background-color: #545ee3;
  color: #fff;
}

.main-header {
  text-align: center;
}
.main-header p {
  margin-block: 80px 40px;
}
.main-header h2 {
  font-family: "Fira Sans", sans-serif !important;
  font-weight: bold;
  margin-block-end: 45px;
  font-size: 32px;
  font-variant: small-caps;
}
.main-header video {
  margin-block: 0 30px;
  border-radius: 5px;
  object-fit: cover;
  width: 700px;
  height: 400px;
  max-width: 100%;
}
.main-header .courses-scroll {
  margin-block: 40px 100px;
  color: #545ee3;
}

.our-courses .courses-container {
  margin-block: 50px;
}
.our-courses .course-thumbnail img {
  width: 280px;
  height: 280px;
  display: block;
  margin: auto;
}
.our-courses .course-text .course-title-ar {
  direction: rtl;
  font-family: "Cairo", sans-serif !important;
}
.our-courses .course-text p {
  font-size: 18px;
  line-height: 42px;
}
.our-courses .course-text .button-container {
  justify-content: flex-start;
}

.testimonials .swiper-slide {
  display: flex;
}
.testimonials .client-container {
  max-width: 536px;
  margin: auto;
}
.testimonials .client-container .client-data {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
  margin-block-end: 14px;
}
.testimonials .client-container .client-data svg {
  width: 48px;
  height: 48px;
}
.testimonials .client-container .client-data .client-date {
  opacity: 0.5;
}
.testimonials .client-container p.client-opinion {
  line-height: 40px;
}

.join-us {
  background-image: url("/imgs/imgs/drs.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color;
  margin-block-end: 30px;
}
.join-us .overlay {
  min-height: 400px;
  background-color: rgba(84, 94, 227, 0.7);
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.join-us .overlay div {
  line-height: 40px;
}
.join-us .overlay div h2 {
  font-size: 2.35rem;
  font-weight: bolder;
}
.join-us .overlay div p,
.join-us .overlay div a {
  font-size: 20px;
}
.join-us .overlay a {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
.join-us .overlay a:hover {
  color: #fff;
  border-color: #fff;
}

.floating-whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  background-color: #fff;
  width: 70px;
  height: 70px;
  border: 1px solid #545ee3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 575px) {
  video {
    object-fit: contain !important;
  }

  .join-us h2 {
    font-size: 20px !important;
  }
  .join-us a,
.join-us p {
    font-size: 16px !important;
  }

  .floating-whatsapp {
    width: 50px;
    height: 50px;
  }
  .floating-whatsapp svg {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  video {
    object-fit: contain !important;
  }

  .join-us h2 {
    font-size: 20px !important;
  }
  .join-us a,
.join-us p {
    font-size: 16px !important;
  }

  .floating-whatsapp {
    width: 50px;
    height: 50px;
  }
  .floating-whatsapp svg {
    width: 30px;
    height: 30px;
  }
}

/*# sourceMappingURL=home.css.map */
