/*

@mixin computeRgba($color, $opacityWanted) {
@return "rgba(" red($color) + ',' + green($creen) + ',' + blue() $opacity) ";
}
*/
.dashboard-nav {
  padding: 50px;
  height: 100vh;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  position: sticky;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}
.dashboard-nav .navbar-toggler {
  border: 1px solid #545ee3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-nav .navbar-toggler .navbar-toggler-icon {
  width: 100%;
  height: 100%;
}
.dashboard-nav .navbar-toggler svg {
  display: block;
  fill: #545ee3;
}
.dashboard-nav .navbar-links-container .navbar-brand {
  font-size: 28px !important;
  display: block;
  margin-block-end: 10px !important;
}
.dashboard-nav .navbar-links-container .navbar-brand.active {
  color: #545ee3 !important;
}
.dashboard-nav .navbar-links-container .nav-links {
  margin-block-start: 30px;
}
.dashboard-nav .navbar-links-container .nav-links ul li {
  cursor: pointer;
  margin-block-end: 25px;
}
.dashboard-nav .navbar-links-container .nav-links ul li a {
  border-radius: 10px;
  width: fit-content;
  transition: all 0.25s ease-in-out;
  font-size: 18px !important;
}
.dashboard-nav .navbar-links-container .nav-links ul li.active a, .dashboard-nav .navbar-links-container .nav-links ul li:hover a {
  background-color: var(--bs-primary) !important;
  color: #fff;
}
.dashboard-nav .navbar-links-container .logged-in-user {
  display: flex;
  align-items: center;
  gap: 20px;
}
.dashboard-nav .navbar-links-container .logged-in-user .user-img img {
  width: 90px;
  height: 90px;
}
.dashboard-nav .navbar-links-container .logged-in-user .user-info {
  display: flex;
  flex-direction: column;
}
.dashboard-nav .navbar-links-container .logged-in-user .user-info .user-name {
  font-size: 24px;
}
.dashboard-nav .navbar-links-container .logged-in-user .user-info .user-type {
  opacity: 0.5;
}
.dashboard-nav .navbar-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-nav .navbar-footer svg {
  width: 40px;
  height: 40px;
}

.remove-nav {
  transform: translateX(-1000px);
}

.show-nav {
  position: fixed;
  top: 30px;
  left: -1px;
  display: flex;
  align-items: center;
  border: 1px solid #545ee3;
  padding-inline-start: 20px;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  color: #545ee3;
}
.show-nav .navbar-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
}
.show-nav .navbar-toggler .navbar-toggler-icon {
  width: 100%;
  height: 100%;
}
.show-nav .navbar-toggler svg {
  display: block;
  fill: #545ee3;
}
.show-nav.remove-show-button {
  transform: translateX(-1000px);
}

@media (max-width: 575px) {
  .dashboard-nav {
    width: 80vw;
    z-index: 10;
    padding: 20px;
    box-shadow: 4px 4px 28px 90px rgba(84, 94, 227, 0.5);
    position: fixed;
  }
  .dashboard-nav .navbar-links-container .navbar-brand {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px !important;
    justify-content: space-between;
    width: 100%;
  }
  .dashboard-nav .navbar-links-container .logged-in-user .user-img img {
    width: 75px;
    height: 75px;
  }
  .dashboard-nav .navbar-links-container .logged-in-user .user-info .user-type {
    font-size: 13px !important;
  }
  .dashboard-nav .navbar-links-container .logged-in-user .user-info .user-name {
    font-size: 16px !important;
  }
  .dashboard-nav .navbar-links-container .nav-links ul li a {
    font-size: 16px !important;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .dashboard-nav {
    width: 80vw;
    z-index: 10;
    padding: 20px;
    box-shadow: 4px 4px 28px 90px rgba(84, 94, 227, 0.5);
    position: fixed;
  }
  .dashboard-nav .navbar-links-container .navbar-brand {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px !important;
    justify-content: space-between;
    width: 100%;
  }
  .dashboard-nav .navbar-links-container .logged-in-user .user-img img {
    width: 75px;
    height: 75px;
  }
  .dashboard-nav .navbar-links-container .logged-in-user .user-info .user-type {
    font-size: 13px !important;
  }
  .dashboard-nav .navbar-links-container .logged-in-user .user-info .user-name {
    font-size: 16px !important;
  }
  .dashboard-nav .navbar-links-container .nav-links ul li a {
    font-size: 16px !important;
  }
}

/*# sourceMappingURL=navbar.css.map */
