@use "../utils/variables" as vars;
@use "../utils/mediaFns" as mediaQ;

.opinions {
  min-height: calc(100vh - 160px - 161px);

  .custom-head span {
    margin-block: 30px 60px;
    margin-inline: auto;
  }

  .opinions-images {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, auto);

    img {
      max-width: 100%;
      height: auto;
      border: 1px solid rgba(vars.$main_color, 0.5);
      padding: 13px;
      box-shadow: 4px 4px 5px rgb(vars.$main_color, 0.1);
      border-radius: 4px;
      object-fit: cover;
    }
  }

  .opinions-join {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 30px;
    gap: 20px;
    text-shadow: 3px 3px 3px rgba(vars.$main_color, 0.3);
    font-size: vars.$md_header_size;

    a {
      font-size: vars.$md_header_size;
    }
  }
}

@include mediaQ.allSmScreens {
  .opinions {
    .opinions-images {
      grid-template-columns: auto auto !important;
    }
  }
}
