@use "../utils/variables" as vars;
@use "../utils/common" as common;

footer {
  @extend %bottomFooter;
}

.complete-payment {
  margin-block-start: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .bought-course-data {
    border: 1px solid vars.$main_color;
    border-radius: 4px;
    padding: 24px;
    width: 50vw;
    margin-block: 10px;

    .data {
      background-color: vars.$main_color;
      color: #fff;
      padding: 10px;
      width: fit-content;
      border-radius: 4px;
    }

    .course-name,
    .course-price {
      font-size: vars.$lg_font_size;
    }
  }
}
