<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/about/index.css" />
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<section class="aboutme">
    <div class="container">
        <div class="custom-head">
            Who am i ?
            <span></span>
        </div>
        <p class="main-paragraph">
            Hello 👋, <br />
            My name is Wesam Nageib, I have a <span class="custom-word">Bachelors degree in pharmacy science</span>, A
            certified <span class="custom-word">CPHQ exam trainer </span>, certified <span
                    class="custom-word">CSSYB</span>, <span class="custom-word">TOT trainer</span>, <span
                    class="custom-word">MSC cerified</span> and <span class="custom-word">ISQUA member.</span>
            For more info 👇
        </p>
        <button class="btn">
            Download my resume
        </button>
        <div class="custom-head">
            My Certificates
            <span></span>
        </div>


        <!-- Slider main container -->
        <div class="about-swiper swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="img-container">
                        <img src="/imgs/imgs/certificates/01.png" alt="First Certificate" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img src="/imgs/imgs/certificates/02.png" alt="Second Certificate" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img src="/imgs/imgs/certificates/03.png" alt="Third Certificate" />
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <!-- End Slider -->

    </div>
</section>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
