<%- include("../includes/top_part.ejs"); %>
<link rel="stylesheet" href="/css/user/profile.css" />
<link rel="stylesheet" href="/css/user/exam.css" />
</head>
<body>
<%- include("../includes/navigation.ejs"); %>

<main class="exam-result text-center">
  <h2 class="h1">Your Exam Has submitted successfully!</h2>
  <h2 class="">Your Grade is</h2>
  <p class="fs-1" id="grade-paragraph"></p>
</main>

<script>
  const examGrade = localStorage.getItem("grade")
  const total = localStorage.getItem("total")
  const gradeParagraph = document.getElementById("grade-paragraph")
  gradeParagraph.textContent = `${examGrade}/${total}`

</script>

<%- include("../includes/footer.ejs"); %>
<%- include("../includes/bottom_part.ejs"); %>
