@use "../utils/variables" as vars;

.aboutme {
  margin-block-start: 80px;

  .main-paragraph {
    font-size: vars.$lg_font_size;
    line-height: 42px;

    span.custom-word {
      font-weight: 500;
      color: vars.$main_color;
      font-family: vars.$sans_font;
    }
  }

  .btn {
    width: fit-content !important;
    margin-block: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-swiper {
    height: 400px;

    .swiper-slide {
      padding: 10px;
      cursor: move;

      .img-container {
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);

        img {
          //object-fit: contain;
          width: 100%;
          height: 355px;
          border: 1px solid #ccc;
        }
      }
    }

    .swiper-pagination {
      bottom: 0;
    }
  }
}
