@use "../utils/variables" as vars;
@use "../utils/mediaFns" as mediaQ;

.profile {
  min-height: calc(100vh - 160px - 161px);

  .user-content {
    line-height: 50px;
    font-size: vars.$lg_font_size;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .exams-previews {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .user-img {
    position: relative;
    //display: flex;
    //justify-content: flex-end;
    //align-items: center;

    img {
      max-width: 100%;
      object-fit: contain;
      border-radius: 5px;
      margin-block-end: 5px;
      box-shadow: 4px 4px 10px rgba(vars.$main_color, 0.4);
    }
  }

  form {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;

    button {
      width: 50%;
    }
  }

  /*

}
  */

  .payments-details {
    .bought_courses {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .grades {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
      }

      & > span {
        border: 1px solid vars.$main_color;
        border-radius: 2px;
        display: block;
        padding: 4px;
      }
    }
  }
}

@include mediaQ.allSmScreens {
  .profile {
    .user-content {
      font-size: vars.$sm_font_size - 4;
    }

    .user-img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-block-start: 90px;

      img {
        height: 200px;
      }
    }
  }
}
